@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: #F4F4F4;
}

/* loader Start */
.loader {
  width: 26px;
  height: 26px;
  border: 4px solid #FFF;
  border-top-color: #ff7a00;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to {transform: rotate(360deg);}
}

/* Animation Start */
@keyframes otpFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

// Button Start
.btn-danger {
  cursor: pointer;
  font-family: var(--font-family-heading);
  letter-spacing: 0.25px;
  color: #fff;
  background-color: #CD3F3F;
  border: none;
  border-radius: 8px;
  padding: 9px 17px;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 4px #00000012;
  transition: background-color 0.2s ease, transform 0.15s ease, box-shadow 0.15s ease;
  will-change: transform;
  &:hover {
    background-color: #B83636;
    transform: translateY(-1px);
    box-shadow: 0 6px 10px #0000001a;
  }
  &:active {
    transform: translateY(0);
    box-shadow: 0 3px 6px #00000014;
  }
  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none;
    transform: none;
  }
}


.radio_wrap {color: #444444;display: inline-flex; align-items: center; gap: 6px; cursor: pointer; user-select: none; font-size: 14px;}
.radio_wrap input[type="radio"] {appearance: none; border: 1.5px solid #f59e0b; border-radius: 50%; width: 20px; height: 20px; position: relative; min-height: 20px; padding: 0px;}
.radio_wrap input[type="radio"]:checked {background: linear-gradient(103.7deg, #FECE26 4.76%, #E5741F 118.16%);border: transparent;}

// Toggle Start
.toggleGroup {
  position: relative;
  height: 40px;
  transition: var(--transition-fast);
  .checkbox {
    position: absolute;
    opacity: 0;
    z-index: 3;
    height: 100%;
    transition: var(--transition-fast);
    &:checked {
      ~ .onoffswitch .onoffswitchInner {margin-left: 0;}
      ~ .onoffswitch .onoffswitchSwitch {right: 7px;box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
      }
    }
  }
  .onoffswitch {
    position: relative;
    width: 110px;
    height: 40px;
    display: inline-block;
    font-size: 11px;
    transition: var(--transition-fast);
    .onoffswitchLabel {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border: 1px solid #F4F4F4;
      border-radius: 20px;
      height: 40px;
      background: #F4F4F4;
    }
    .onoffswitchInner {
      width: 200%;
      margin-left: -100%;
      transition: margin 0.15s ease-in-out;
      transition: var(--transition-fast);
      &::before,
      &::after {
        float: left;
        width: 50%;
        height: 40px;
        line-height: 40px;
        font-size: 11px;
        box-sizing: border-box;
        white-space: nowrap;
      }
      &::before {
        content: "Upcoming";
        padding-left: 10px;
        font-size: 12px;
        font-family: var(--font-family-heading);
        transition: var(--transition-fast);
        background-color: #000;
        color: #FECE26;
        text-align: left;
      }
      &::after {
        content: "Recent";
        padding-right: 10px;
        font-size: 14px;
        font-family: var(--font-family-heading);
        transition: var(--transition-fast);
        background-color: #F4F4F4;
        color: #3d3d3d;
        text-align: right;
      }
    }
    .onoffswitchSwitch {
      width: 28px; 
      height: 28px;
      background: #FFF;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 76px;
      transition: right 0.15s ease-in-out, top 0.15s ease-in-out;
    }
    .label {
      position: absolute;
      inset: 0;
      cursor: pointer;
      z-index: 2;
    }
  }
  &:has(.checkbox:checked) {
    .onoffswitchLabel {
      border: 1px solid transparent;
      background: linear-gradient(103.7deg, #fece26 4.76%, #e5741f 118.16%);
    }
  }
  .checkbox {
    &:checked {
      ~ .onoffswitch {
        .onoffswitchInner {
          &::before {
            background-color: #000;
          }
        }
      }
    }
  }
}

/* Custome Class Start  */
.hightunset {}
.bg-off-white {background-color: #f4f4f4;}
.bg-white {background: #fdfdfd;}

.moneyboy-feed-page-container .moneyboy-feed-page-cate-buttons .page-content-type-button:hover,
.moneyboy-feed-page-container .moneyboy-feed-page-cate-buttons .page-content-type-button.active {
  color: #fece26;
  background-color: #010405;
}

.footer_main {
  position: relative;
  z-index: 10;
  bottom: 0;
  height: var(--header-height);
  background: #fdfdfd;
  box-shadow: 0px 6px 4px -4px #08080803, 0px 2px 1.5px -4px #0808080a;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .ft_links {
    display: flex;
    gap: 15px;
    align-items: center;
    li {
      color: #444444;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0px;
      font-style: normal;
      font-family: var(--font-family-base);
      text-underline-offset: 2px;
      transition: var(--transition-fast);
      &:hover {
        /* background: linear-gradient(103.7deg, #fece26 4.76%, #e5741f 118.16%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent; */
        text-decoration: underline;
        color: var(--color-text-active);
      }
      a {
        display: block;
        color: unset;
      }
    }
  }
  .ftright {
    display: flex;
    gap: 15px;
    align-items: center;
    .footer-logo {
      cursor: pointer;
      transition: var(--transition-fast);
      img {
        max-width: 50px;
        transition: var(--transition-fast);
      }
      &:hover img {
        transform: translateY(-2px);
      }
    }
    p {
      color: #444444;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0px;
      font-style: normal;
      font-family: var(--font-family-base);
      text-underline-offset: 2px;
      transition: var(--transition-fast);
      a {
        color: #444444;
        &:hover {
          text-decoration: underline;
          color: var(--color-text-active);
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding: 25px;
    flex-direction: column;
    height: auto;
    margin: 0px;
    width: 100%;
    max-width: 100%;
    .ft_links {
      flex-wrap: wrap;
      justify-content: center;
    }
    .ftright {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #999;
  margin: 15px 0;
  width: 100%;
  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #e0e0e0;
  }
  span {
    padding: 0 12px;
    background: #fff;
    color: #505050;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    font-family: var(--font-family-base);
  }
}

/* Custome class Start  */
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 15px !important;
}
.justify-center {
  justify-content: center;
}
.text-right {
  text-align: right;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.w-full {
  width: 100%;
}
.mw-fit {
  max-width: -webkit-fill-available;
}
.gap-10 {
  gap: 10px;
}

/* Login Page Start */
.login_wrap {
  height: 100%;
  min-height: calc(100dvh - 55px);
  max-height: calc(100dvh - 85px);
  overflow: hidden;
  background: #f4f4f4;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  &.w1440 {
    max-width: 1440px;
  }
  .img_wrap {
    position: relative;
    flex: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    img.login_imgwrap {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .backicons {
      position: absolute;
      top: 15px;
      left: 15px;
      transform: translate(-0%, -0%);
      width: max-content;
      button {
        width: 45px;
        height: 45px;
        cursor: pointer;
        display: grid;
        place-items: center;
        box-shadow: 0 6px 4px -4px #08080816, 0 2px 13.5px 1px #08080825;
        svg {
          color: #fece26;
          position: relative;
          z-index: 1;
        }
      }
    }
  }
  .cont_wrap {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px 40px 20px;
    overflow-y: hidden;
    max-height: calc(100vh - 55px);
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .logo_wrap {
      max-width: 240px;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
    .main_cont {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 15px;
      .moneyboy-feed-page-cate-buttons {
        border-radius: 18px;
        top: 0px;
        button {
          /* padding: 14px 0px; */
        }
      }
      .moneyboy-post__container.card {
        border-radius: 27px;
        padding: 30px;
      }
      h3.heading {
        text-align: center;
        color: var(--color-text-active);
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
        letter-spacing: 0px;
        font-style: normal;
        text-transform: capitalize;
        font-family: var(--font-family-heading);
        margin-bottom: 8px;
      }
      p {
        text-align: center;
        color: #505050;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: 0px;
        font-style: normal;
        font-family: var(--font-family-base);
        margin-bottom: 10px;
        &.fs-18 {
          font-size: 14px;
          font-weight: 500;
        }
        a {
          color: #e5741f;
        }
      }
      ul.benefitspoint {
        padding: 0px;
        margin: 0 auto 15px;
        list-style: none;
        li {
          position: relative;
          padding-inline-start: 15px;
          color: #505050;
          font-weight: 500;
          font-size: 13px;
          line-height: 18px;
          letter-spacing: 0px;
          font-style: normal;
          font-family: var(--font-family-base);
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0px;
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 10px;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: linear-gradient(
              103.7deg,
              #fece26 4.76%,
              #e5741f 118.16%
            );
            /* box-shadow: 0 0 0 4px rgba(255, 184, 31, 0.25); */
          }
        }
      }
      .loginbtn_wrap {
        display: flex;
        z-index: 9;
        border-radius: 16px;
        gap: 8px;
        transition: var(--transition-normal);
        margin-bottom: 10px;
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 3px;
          border-radius: 14px;
          padding: 13px 8px;
          color: #020202;
          cursor: pointer;
          font-weight: 500;
          font-style: normal;
          width: 100%;
          font-size: 10px;
          line-height: 100%;
          text-transform: capitalize;
          letter-spacing: 0.5px;
          font-family: var(--font-family-heading);
          transition: var(--transition-fast);
          &.google-button {
            background-color: #ffffff;
            border: 1px solid #f0efef;
            box-shadow: 0px 5px 35px 0px #1212120d;
          }
          &.x-button {
            color: #fff;
            background-color: #121212;
          }
        }
      }
      .or-divider {
        max-width: 80%;
        margin: 15px auto;
      }
      .form_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        margin-bottom: 15px;
        .one {
          grid-column: 1 / -1;
        }
      }
      .label-input {
        &.password {
          position: relative;
          .eye-icon {
            position: absolute;
            right: 10px;
            left: auto;
            z-index: 1;
            cursor: pointer;
          }
        }
        &.file-upload-wrapper {
          position: relative;
          z-index: 0;
          background: #ffffff;
          border: 1.5px solid #ebebeb;
          padding: 10px;
          color: #444444;
          font-size: 14px;
          line-height: 100%;
          font-weight: 500;
          letter-spacing: 0px;
          font-family: var(--font-family-base);
          input {
            padding: 0px;
            position: absolute;
            inset: 0;
            opacity: 0;
            cursor: pointer;
          }
          .input-placeholder-icon {
            background-color: #f4f4f4;
            border-radius: 15px;
            width: 60px;
            height: 60px;
            min-width: 60px;
            display: grid;
            place-items: center;
            position: relative;
            left: 0px;
            margin-right: 5px;
            .imgicons {
              position: absolute;
              bottom: 0px;
              right: 0px;
              padding: 3px;
              border-radius: 8px;
              background-color: #fdfdfd;
              box-shadow: 0px 6px 4px -4px #08080803,
                0px 2px 1.5px -4px #0808080a, 0px 4px 4px 0px #00000017;
            }
          }
          p {
            text-align: left;
            color: #444444;
            font-weight: 500;
            font-size: 12px;
            line-height: 100%;
            margin-bottom: 0px;
          }
        }
        &.preview-wrapper {
          .input-placeholder-icon {
            width: 70px !important;
            min-width: 70px !important;
            height: 70px !important;
            overflow: hidden;
            .preview-img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 12px;
            line-height: 14px
          }
         .right_box {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-left: auto;
          .icons {
            border-radius: 6px;
            background-color: #f4f4f4;
            width: 32px;
            height: 32px;
            display: grid;
            place-items: center;
            svg {
              color: #E5741F;
            }
          }
         }
        }
        .input-placeholder-icon {
          z-index: 1;
        }
        &.textarea {
          .input-placeholder-icon {
            top: 12px;
          }
        }
        input,
        textarea {
          z-index: 0;
          background: #ffffff;
          padding: 14px;
          padding-inline-start: 35px;
          color: #444444;
          font-size: 12px;
          line-height: 100%;
          font-weight: 500;
          letter-spacing: 0px;
          font-family: var(--font-family-base);
        }
      }
      .custom-select-label-wrapper {
        padding: 14px 9px;
        background: #ffffff;
        color: #444444;
        font-size: 12px;
        line-height: 100%;
        font-weight: 500;
        letter-spacing: 0px;
        font-family: var(--font-family-base);
      }
      .forget_link {
        text-align: right;
        color: #e5741f;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        letter-spacing: 0;
        font-style: normal;
        font-family: var(--font-family-base);
        margin-bottom: 0px;
        &:hover {
          text-decoration: underline;
        }
      }
      .error-message {
        color: #ff0000;
        letter-spacing: 0;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        font-family: var(--font-family-base);
      }
      .premium-btn {
        /* padding: 16px; */
        max-width: 50%;
        width: 100%;
        margin: 10px auto;
        &:last-child {
          margin-bottom: 0px;
        }
      }
      .account_login {
        text-align: center;
        color: #505050;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        letter-spacing: 0px;
        font-style: normal;
        font-family: var(--font-family-base);
        margin-bottom: 0px;
        &:last-child {
          margin-bottom: 0px;
        }
        a {
          color: #e5741f;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.creator_wrap {
    padding: 10px;
    min-height: unset;
    max-height: unset;
    display: flex;
    .cont_wrap {
        max-height: unset;
        overflow: unset;
      flex: auto;
      padding: 0px;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
      .main_cont {
        max-width: 100%;
        h3.heading {
          font-size: 40px;
          line-height: 44px;
        }
        .premium-btn {
          max-width: 30%;
          margin: 10px auto;
        }
        .creator_maingrid {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 12px;
          margin-bottom: 15px;
          .form_grid {
            grid-column: span 2;
          }
          .right_wrap {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .label-input {
              &.file-upload-wrapper {
                padding: 20px 12px;
              }
            }
          }
        }
      }
    }
  }
  /* ========== Mobile Screen Size ========== */
  @media screen and (max-width: 767px) {
    flex-direction: column;
    max-height: none;
    min-height: auto;
    overflow-y: auto;
    .img_wrap {
      display: none;
    }
    .cont_wrap {
      order: 2;
      flex: 0 0 auto;
      width: 100%;
      padding: 25px;
      align-self: stretch;
      height: auto;
    }
    .cont_wrap .logo_wrap {
      max-width: 220px;
    }
    .cont_wrap .main_cont {
      max-width: 100%;
      gap: 12px;
    }
    .loginbtn_wrap {
      display: flex;
      flex-direction: column;
      button {
        padding: 14px;
      }
    }
    .form_grid, .creator_maingrid {
    grid-template-columns: 1fr !important;
    .one {
        grid-column: 1;
      }
    }
    .cont_wrap .main_cont .moneyboy-post__container.card {
      padding: 20px 16px;
      border-radius: 18px;
    }
    .cont_wrap .main_cont h3.heading {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 10px;
    }
    .cont_wrap .main_cont ul li {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 8px;
    }
    .cont_wrap .main_cont .account_login {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }
  /* ========== Tablet Screen Size ========== */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    flex-direction: column;
    max-height: none;
    min-height: auto;
    overflow-y: auto;
    .img_wrap {
      max-height: 200px;
      overflow: hidden;
    }
    .cont_wrap {
      order: 2;
      flex: 0 0 auto;
      width: 100%;
      padding: 25px;
      align-self: stretch;
      height: calc(100vh - 295px);
      overflow-y: auto;
    }
    .cont_wrap .logo_wrap {
      max-width: 260px;
    }
    .cont_wrap .main_cont {
      max-width: 100%;
      gap: 12px;
    }
    .cont_wrap .main_cont .moneyboy-post__container.card {
      padding: 30px;
      border-radius: 20px;
    }
    .cont_wrap .main_cont h3.heading {
      font-size: 32px;
      line-height: 34px;
      margin-bottom: 10px;
    }
    .cont_wrap .main_cont ul li {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 8px;
    }
    .cont_wrap .main_cont .account_login {
      margin-bottom: 10px;
    }
  }
  /* ========== Small Screen Size ========== */
  @media screen and (min-width: 1024px) and (max-width: 1299px) {
    .img_wrap {
      flex: 0.55;
    }
    .cont_wrap {
      flex: 0.45;
      .main_cont {
        max-width: 100%;
      }
    }
  }
  /* ========== DESKTOP <= 1400px ONLY ========== */
  @media screen and (min-width: 1200px) and (max-width: 1700px) {
    height: calc(100vh - 55px);
    min-height: unset;
    max-height: unset;
    overflow: hidden;
    .cont_wrap {
      height: 100%;
      overflow: hidden !important;
      padding: 20px 32px;
      .main_cont {
        max-width: 100%;
        max-height: 100%;
        overflow: unset;
        gap: 8px;
        .logo_wrap {
          max-width: 150px;
        }
        .moneyboy-feed-page-cate-buttons {
          border-radius: 9px;
          .page-content-type-button {
            padding: 10px 0;
            font-size: 12px;
            border-radius: 9px;
          }
        }
        h3.heading {
          font-size: 22px;
        }
        p {
          font-size: 12px;
        }
        ul.benefitspoint {
          margin: 0 auto 10px;
          li {
            font-size: 12px;
            margin-bottom: 6px;
          }
        }
        .premium-btn {
          margin: 7px auto;
          padding: 10px 0px;
          border-radius: 9px;
          span {
            font-size: 12px;
          }
        }
        .loginbtn_wrap {
          border-radius: 7px;
          gap: 5px;
          margin-bottom: 6px;
          button {
            padding: 10px 8px;
            border-radius: 12px;
          }
        }
        .or-divider {
          max-width: 80%;
          margin: 10px auto;
        }
        .form_grid {
          gap: 8px;
          margin-bottom: 10px;
        }
        .label-input {
          &.file-upload-wrapper {
            padding: 10px;
            font-size: 12px;
            .input-placeholder-icon {
              width: 50px;
              height: 50px;
              min-width: 50px;
            }
          }
          input,
          textarea {
            border-radius: 10px;
            padding: 10px;
            padding-inline-start: 30px;
            color: #444444;
            font-size: 12px;
          }
          .svg-icon {
            width: 18px;
            height: 18px;
          }
        }
        .custom-select-label-wrapper {
          padding: 10px 9px;
        }
        .account_login {
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 0px !important;
        }
      }
    }
    &.creator_wrap {
      height: auto;
      overflow: auto;
      .cont_wrap {
        overflow: auto !important;
        .main_cont {
          overflow: unset;
          .logo_wrap {
            margin-top: 20px;
            max-width: 150px;
          }
          h3.heading {
            font-size: 22px;
            line-height: 26px;
          }
          .premium-btn {
            max-width: 30%;
            margin: 8px auto;
          }
          .creator_maingrid {
            gap: 8px;
            margin-bottom: 10px;
            .right_wrap {
              gap: 8px;
              .label-input {
                &.file-upload-wrapper {
                  padding: 10px 12px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .mb-10 {
    margin-bottom: 10px !important;
  } 
}

/* Modal Start */
.otp-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(4px);
    .otp-modal {
      background: #fff;
      padding: 28px 24px;
      border-radius: 14px;
      width: 100%;
      max-width: 420px;
      text-align: center;
      position: relative;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
      animation: otpFadeIn 0.25s ease-out;
      .otp-close {
        position: absolute;
        top: 12px;
        right: 14px;
        background: none;
        border: none;
        font-size: 22px;
        cursor: pointer;
        color: #888;
        transition: var(--transition-fast);
        background-color: #000;
        width: 36px;
        height: 36px;
        border-radius: 9px;
        display: grid;
        place-items: center;
        .otp-close:hover {
          color: #000;
        }
      }
      .otp-title {
        text-align: center;
        color: var(--color-text-active);
        letter-spacing: 0;
        text-transform: capitalize;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        font-family: var(--font-family-heading);
        margin-bottom: 8px;
      }
      .otp-subtitle {
        text-align: center;
        color: #505050;
        font-size: 13px;
        line-height: 17px;
        font-weight: 500;
        letter-spacing: 0;
        font-style: normal;
        font-family: var(--font-family-base);
        margin-bottom: 10px;
      }
      .otp-boxes {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
        .otp-box {
          width: 44px;
          height: 52px;
          border-radius: 10px;
          border: 1.5px solid #ddd;
          font-size: 20px;
          font-weight: 600;
          text-align: center;
          outline: none;
          &:focus {
            border-color: #000;
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
          }
        }
      }
      /* Buttons */
      .modal_footer {
        display: flex;
        gap: 12px;
        .mw-50 {max-width: 50%;}
        .otp-cancel {
          flex: 1;
          padding: 12px;
          background: #f2f2f2;
          border-radius: 8px;
          border: none;
          cursor: pointer;
        }
      }
    }
    /* ========== Mobile Screen Size ========== */
  @media screen and (max-width:767px) {
    .otp-modal {
      max-width: 100%;
      margin: 0px 15px;
    }
  }
}

.rel-user-more-opts-wrapper.active {
  .rel-users-more-opts-popup-wrapper {
    left: auto;
    @media (max-width: 620px) {
      display: block;
      overflow: hidden;
      left: 0;
      bottom: 25px;
      width: 100%;
      z-index: 1000;
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

.mobile-popup-overlay.active {
  pointer-events: auto;
  opacity: 1;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
}

.video_wrap {
  align-items: start;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--card-shadow);
  transition: var(--transition-normal);
  .video_fream {
    width: 100%;
    height: 100%;
    min-height: 300px;
  }
  .vdocard-footer {
    width: 100%;
    padding: 10px;
    gap: 6px;
    display: flex;
    align-items: center;
    .profile-card {
      padding: 0px;
    }
    .meta-bar {
      background: #f4f4f4;
      border-radius: 14px;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 8px 10px;
      display: flex;
      white-space: nowrap;
      .meta-item {
        display: flex;
        align-items: center;
        gap: 6px;
        color: var(--color-text);
        font-size: 13px;
      }
      .meta-actions {
        display: flex;
        gap: 6px;
      }
      .view {
        background: #f9f9f9;
        border: 1.5px solid #ebebeb;
        padding: 5px 10px;
        border-radius: 8px;
      }
      .meta-actions a {
        gap: 3px;
        font-size: 13px;
        color: var(--color-text);
        background-color: #e4e4e4;
        cursor: pointer;
        will-change: transform;
        border: none;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        display: inline-flex;
        transition: var(--transition-fast);
        &:hover {
          background: #f9f9f9;
        }
        &.favorite {
          color: #c0392b;
          font-weight: bold;
        }
      }
    }
  }
}

.modal {
  position: fixed;
  inset: 0;
  background: #000000b8;
  z-index: 999;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s ease;
  transition: var(--transition-fast);
  display: none;
  opacity: 0;
  .modal-wrap {
    background: #FFF;
    padding: 30px;
    position: relative;
    width: 100%;
    max-width: 650px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 6px 12px -4px #0808081F, 0px 2px 13.5px 1px #08080803;
    transition: var(--transition-fast);
    .modal_head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      display: none;
      .close-btn {
        flex-shrink: 1;
      }
    }
    .close-btn {
      display: block;
      margin-left: auto;
    }
    .title {
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--color-text-active);
      font-size: 24px;
      font-weight: 500;
      font-style: normal;
      line-height: 100%;
      font-family: var(--font-family-heading);
      margin-bottom: 10px;
      .icons {
        max-width: 24px;
        height: auto;
      }
    }
    p {
      color: #505050;
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: 0px;
      font-family: var(--font-family-base);
    }
    a {
      color: #E67820;
    }
    ul {
      margin: 15px 0px;
      &.points {
        li {
          padding-inline-start: 15px;
          &::before {
            content: "";
            color: #f5b400;
            background: linear-gradient(103.7deg, #fece26 4.76%, #e5741f 118.16%);
            width: 7px;
            height: 7px;
            border-radius: 30px;
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translate(-0%, -50%);
          }
        }
      }
      li {
        position: relative;
        color: #505050;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 0px;
        font-family: var(--font-family-base);
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0px;
        }
        b {
          color: #505050;
          font-weight: 700;
        }
      }
    }
    .actions {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
      button {
        max-width: 50%;
        font-family: var(--font-family-heading);
      }
    }
    &.ageverify-modal {
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
    &.post-modal {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 50px;
      h3 {
        font-size: 42px;
        line-height: 100%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: capitalize;
      }
      label {
        color: #444;
        font-size: 14px;
        line-height: 100%;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 0px;
      }
      .form-input, textarea {
        padding: 12px;
        background-color: #FFFFFF;
      }
      .input-wrap {
        input, textarea {
          padding: 12px;
        }
        span {
          color: #505050;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0px;
          font-weight: 500;
          font-style: normal;
          font-family: var(--font-family-base);
          &.right {
            display: inline-block;
            width: 100%;
            text-align: right;
          }
        }
      }
      .select_wrap {
        align-items: center;
        gap: 20px;
        display: flex;
      }
      .duration_wraping {
        padding: 20px;
        border-radius: 20px;
        border-width: 1px;
        background-color: #FFFFFF;
        border: 1.5px solid #ebebeb;
        display: flex;
        flex-direction: column;
        gap: 10px;
        label {
          &.orange {
            color: #E6771F;
          }
        }
        .pollanw {
          color: #444444;
          font-size: 14px;
          line-height: 18px;
          border-radius: 10px;
          background-color: #F4F4F4;
          border: 1.5px solid #ebebeb;
          padding: 12px;
          display: block;
          width: 100%;
          cursor: pointer;
          &.selected {
            color: #f4f4f4;
            background-color: #000;
          }

        }
        .clear {
          color: #E6771F;
          margin-top: 15px;
          width: fit-content;
        }
      }
      .btnicons {
        background-color: #f4f4f4;
        box-shadow: unset;
        border-radius: 12px;
        padding: 14px 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: var(--transition-fast);
        span {
          color: #505050;
          font-weight: 600;
          font-style: normal;
          font-size: 16px;
          line-height: normal;
          letter-spacing: 0px;
        }
        .imgicons {
          display: inline-flex;
          padding: 2px;
          border-radius: 8px;
          background-color: #fdfdfd;
          box-shadow: 0px 6px 4px -4px #08080803, 0px 2px 1.5px -4px #0808080a, 0px 4px 4px 0px #00000017;
          svg {
            filter: grayscale(100%) brightness(0%);
          }
        }
        &:hover {
          box-shadow: 0 4px 9px #0000000f;
          background: linear-gradient(93.25deg, #e5741f -49.57%, #fece26 98.1%);
          span {
            color: #FFF;
          }
          .imgicons {
            svg {
              // filter: unset;
            }
          }
        }
      }
      .upload-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0px;
        position: relative;
        z-index: 0;
        background: #ffffff;
        border: 0px;
        padding: 0px;
        color: #444444;
        font-size: 14px;
        line-height: 100%;
        font-weight: 500;
        letter-spacing: 0px;
        font-family: var(--font-family-base);
        .img_wrap {
          background-color: #f4f4f4;
          border-radius: 15px;
          width: 60px;
          height: 60px;
          min-width: 60px;
          display: grid;
          place-items: center;
          position: relative;
          left: 0px;
          margin-right: 0px;
          .icons {
            width: 45px;
            height: 45px;
          }
          .imgicons {
            position: absolute;
            bottom: 0px;
            right: 0px;
            padding: 3px;
            border-radius: 8px;
            background-color: #fdfdfd;
            box-shadow: 0px 6px 4px -4px #08080803,
              0px 2px 1.5px -4px #0808080a, 0px 4px 4px 0px #00000017;
          }
        }
        .btn-primary {
          background: linear-gradient(93.25deg, #FECE26 -49.57%, #E5741F 98.1%);
          max-width: 40%;
          width: 100%;
          border-radius: 16px;
          .imgicons {
            display: inline-flex;
            padding: 2px;
            border-radius: 8px;
            background-color: #fdfdfd;
            box-shadow: 0px 6px 4px -4px #08080803, 0px 2px 1.5px -4px #0808080a, 0px 4px 4px 0px #00000017;
            svg {
              filter: grayscale(100%) brightness(0%);
            }
          }
          &:hover {
            background: linear-gradient(93.25deg, var(--color-text-active) -49.57%, var(--color-text-active) 98.1%);
            .imgicons {
              background-color: transparent;
              svg {
                filter: unset;
              }
            }
          }
        }
      }
      .actions {
        .btn_icons {
          cursor: pointer;
          width: 32px;
          height: 32px;
          display: grid;
          place-items: center;
          border-radius: 9px;
          padding: 5px;
          background-color: #FDFDFD;
          box-shadow: 0px 6px 4px -4px #08080803, 0px 2px 1.5px -4px #0808080A, 0px 4px 4px 0px #00000017;
        }
        .right {
          gap: 10px;
          display: flex;
          align-items: center;
          margin-left: auto;
        }
        .premium-btn {
          width: 100%;
          min-width: 120px;
          max-width: 120px;
        }
      }
    }
    &.creators-modal {
      gap: 15px;
      display: flex;
      flex-direction: column;
      padding: 50px;
      h3 {
        font-size: 42px;
        line-height: 100%;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        text-transform: capitalize;
      }
      .search_wrap {
        .input-placeholder-icon {
          z-index: 1;
        }
        input {
          z-index: 0;
          padding: 12px;
          padding-left: 35px;
          min-height: 50px;
          background-color: #FFFFFF;
        }
      }
      .actions {
        button {
          max-width: max-content;
          padding: 14px 30px;
        }
      }
      .moneyboy-post__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .profile-card {
          padding: 0px;
        }
      }
      .creators-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #EBEBEB;
        padding-top: 15px;
        margin-top: 12px;
        button, a {
          cursor: pointer;
          color: #E77A20;
          font-weight: 400;
          font-style: normal;
          font-size: 26px;
          line-height: 100%;
          letter-spacing: 0px;
          text-transform: capitalize;
          font-family: var(--font-family-heading);
          &.close {
            color: #505050 !important;
          }
        }
      }
    }
  }
  &.show {
    display: flex;
    opacity: 1;
  }
  /* ========== Mobile Screen Size ========== */
  @media screen and (max-width: 767px) {
    .modal-wrap {
      max-width: 90%;
      padding: 20px;
      .modal_head {
        display: flex;
      }
      &.post-modal {
        padding: 20px;
        h3 {
          font-size: 32px;
        }
        .flex {
          flex-wrap: wrap;
          button {
            width: 100%;
          }
        }
        .btnicons {
          .imgicons {
            padding: 5px;
          }
        }
        .input-wrap {
          .label-input {
            height: auto;
            textarea {
              height: auto;
            }
          }
        }
        .select_wrap {
          flex-wrap: wrap;
          gap: 15px;
          .radio_wrap {
            width: 100%;
          }
        }
        .upload-wrapper {
          gap: 15px;
          .img_wrap {
            background-color: #f4f4f4;
            border-radius: 15px;
            width: 60px;
            height: 60px;
            min-width: 60px;
            display: grid;
            place-items: center;
            position: relative;
            left: 0px;
            margin-right: 0px;
            .icons {
              width: 45px;
              height: 45px;
            }
            .imgicons {
              position: absolute;
              bottom: 0px;
              right: 0px;
              padding: 3px;
              border-radius: 8px;
              background-color: #fdfdfd;
              box-shadow: 0px 6px 4px -4px #08080803,
                0px 2px 1.5px -4px #0808080a, 0px 4px 4px 0px #00000017;
            }
          }
          .btn-primary {
            max-width: 100%;
          }
        }
        .duration_wraping {
          padding: 15px;
        }
        .actions {
          justify-content: space-between;
          .btn_icons {
            cursor: pointer;
            width: 32px;
            height: 32px;
            display: grid;
            place-items: center;
            border-radius: 9px;
            padding: 5px;
            background-color: #FDFDFD;
            box-shadow: 0px 6px 4px -4px #08080803, 0px 2px 1.5px -4px #0808080A, 0px 4px 4px 0px #00000017;
          }
          .right {
            width: 100%;
            .btn_icons {
              flex-shrink: 0;
            }
          }
          .premium-btn {
            width: 100%;
            min-width: 80%;
            max-width: 100%;
          }
        }
      }
      &.creators-modal {
        padding: 20px;
        h3 {
          font-size: 32px;
        }
        .search_wrap {
          .input-placeholder-icon {
            svg {
              width: 18px;
              height: 18px;
            }
          }
          input {
            min-height: unset;
          }
        }
        .actions {
          gap: 10px;
          justify-content: space-between;
          button {
            width: 100%;
            max-width: 48%;
            padding: 14px 8px;
          }
        }
        .creators-footer {
          button, a {
            font-size: 18px;
          }
        }
      }
      .close-btn {
        position: absolute;
        right: 20px;
        top: 20px;
      }
    }
  }
}

.common-cntwrap {
  .moneyboy-feed-page-cate-buttons {
    button {
      &:hover {
        .icons {
          // filter: brightness(0) invert(1);
          filter: brightness(0) saturate(100%) invert(70%) sepia(50%) saturate(1030%) hue-rotate(6deg) brightness(100%) contrast(100%);
        }
      }
    }
    .page-content-type-button {
      max-width: 30%;
    }
  }
  .main_contwrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 15px;
    h3 {
      color: var(--color-text-active);
      font-style: normal;
      font-size: 21px;
      line-height: 100%;
      font-weight: 400;
      letter-spacing: 0px;
      text-transform: capitalize;
      font-family: var(--font-family-heading);
      span {
        font-family: var(--font-family-base);
      }
    }
    h5 {
      color: #505050;
      font-style: normal;
      font-size: 16px;
      line-height: 100%;
      font-weight: 700;
      letter-spacing: 0px;
      text-transform: capitalize;
      font-family: var(--font-family-base);
    }
    p {
      color: #505050;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: 0px;
      font-family: var(--font-family-base);
      span.block {
        display: block;
      }
    }
    ul {
      margin: 8px 0;
      padding-left: 0;
      &.m-0 {
        margin: 0px;
      }
      &.li-ps0 {
        li {
          padding-left: 0px;
        }
      }
      li {
        position: relative;
        list-style: none;
        padding-left: 35px;
        color: #505050;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        font-family: var(--font-family-base);
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        b {
          font-weight: 700;
        }
      }
      &.points {
        li::before {
          content: "";
          position: absolute;
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: linear-gradient(103.7deg, #fece26 4.76%, #e5741f 118.16%);
        }
      }
      &.number {
        padding-left: 35px;
        list-style-type: devanagari;
        li {
          list-style: inherit;
          padding-left: 0;
          padding-left: 0px;
        }
      }
    }
  }
  /* ========== Tablet (768px – 1024px) ========== */
  @media (min-width: 768px) and (max-width: 1024px) {
    .moneyboy-feed-page-cate-buttons {
      .page-content-type-button {
        max-width: 45%;
      }
    }
    .main_contwrap {
      gap: 18px;
      padding: 18px 14px;
      h3 {
        font-size: 22px;
      }
      p {
        font-size: 15px;
        line-height: 19px;
      }
    }
  }
  /* ========== Mobile (max-width: 767px) ========== */
  @media (max-width: 767px) {
    .moneyboy-feed-page-cate-buttons {
      .page-content-type-button {
        max-width: 100%;
        width: 100%;
      }
    }
    .main_contwrap {
      gap: 16px;
      padding: 20px;
      h3 {
        font-size: 20px;
        line-height: 1.2;
      }
      p {
        font-size: 14px;
        line-height: 18px;
      }
      ul {
        li {
          padding-inline-start: 32px;
          &::before {
            left: 10px;
          }
        }
      }
    }
  }
}

.subscriptions_containt {
  margin-top: 10px;
  .rel-users-wrapper {
    gap: 10px;
  }
  .user-subbox {
    background: #f4f4f4;
    border-radius: 18px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 8px;
    display: flex;
    .profile-card {
      padding: 0px;
      .profile-card__avatar {
        width: 48px;
        &::before {
          content: '';
          display: block;
          position: absolute;
          inset: 0;
          border-radius: inherit;
          border: 2px solid #FFFFFF7A;
        }
      }
      .profile-card__info {
        .profile-card__name {
          font-size: 14px;
          line-height: 18px;
        }
      }
      .profile-card__username {
        ul {
          display: flex;
          gap: 4px;
          align-items: center;
          justify-content: space-between;
          li {
             padding: 4px;
             padding: 4px 5px;
             border-radius: 6px;
             color: #000;
             font-weight: 500;
             font-size: 9px;
             line-height: 10px;
             &.yrly {
              color: #E5741F;
              background: #e5741f26;
             }
             &.stip {
              color: #635BFF;
              background: #635BFF26;
             }
             &.active {
              color: #22C55E;
              background: #22C55E26;
             }
             &.cbill {
              color: #FECE26;
              background-color: #FECE2626;
             }
             &.saspnd {
              color: #D03F3F;
              background-color: #D03F3F26;
             }
          }
        }
      }
    }
    .date_wrap {
      display: flex;
      align-items: center;
      gap: 5px;
      .containt {
        display: flex;
        flex-direction: column;
        gap: 1px;
      }
      .icons {
        width: 18px;
        height: 18px;
      }
      span {
        color: #505050;
        font-weight: 500;
        font-style: normal;
        font-size: 9px;
        line-height: 9px;
        letter-spacing: 0px;
        margin-bottom: 0px;
      }
      p {
        color: #444444;
        font-weight: 600;
        font-style: normal;
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 0px;
        margin-bottom: 0px;
      }
    }
    .rel-user-action-btn {
      button {
        padding: 10px 0px 10px;
        min-width: 76px;
        max-width: 76px;
        &:hover {
          transform: translateY(-1px);
        }
      }
    }
  }
}
